<app-header></app-header>

<section class="breadcrumb-option spad set-bg" data-setbg="assets/img/breadcrumb-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Our Services</h2>
          <div class="breadcrumb__links">
            <a href="index-2.html">Home</a>
            <span>Services</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="services-page spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-lg-2">
        <div class="services__details">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="services__details__title">
                <span>{{selectedData.title}}</span>
                <h3>{{selectedData.sTitle}}</h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="services__details__widget">
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <h3>RS {{selectedData.discountedPrice}}</h3>
              </div>
            </div>
          </div>
          <div class="services__details__pic">
            <img src="assets/img/services/services-details.jpg" alt="">
          </div>
          <div class="services__details__text">
            <p>{{selectedData.p_1}}</p>
            <p>{{selectedData.p_2}}</p>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="services__details__item__pic">
                <img src="assets/img/services/sd-1.jpg" alt="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="services__details__item__pic">
                <img src="assets/img/services/sd-2.jpg" alt="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="services__details__item__pic">
                <img src="assets/img/services/sd-3.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="services__details__desc">
            <p>{{selectedData.p_3}} </p>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="services__details__feature">
                  <li><i class="fa fa-check-circle"></i> Routine and medical care</li>
                  <li><i class="fa fa-check-circle"></i> Excellence in Healthcare every</li>
                  <li><i class="fa fa-check-circle"></i> Building a healthy environment</li>
                  <li><i class="fa fa-check-circle"></i> cumsan lacus vel facilisis.</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="services__details__feature">
                  <li><i class="fa fa-check-circle"></i> Routine and medical care</li>
                  <li><i class="fa fa-check-circle"></i> Excellence in Healthcare every</li>
                  <li><i class="fa fa-check-circle"></i> Building a healthy environment</li>
                  <li><i class="fa fa-check-circle"></i> cumsan lacus vel facilisis.</li>
                </ul>
              </div>
            </div>
            <p>{{selectedData.p_4 }} </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-lg-1">
        <div class="services__sidebar">
          <div class="services__accordion">
            <div class="services__title">
              <h4><img src="assets/img/icons/services-icon.png" alt=""> All services</h4>
            </div>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading active">
                  <a data-toggle="collapse" data-target="#collapseOne">
                    Facial Procedures
                  </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li><a href="#" *ngFor="let item of this.data">{{item.title}}</a></li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseFive">
                    Skin care
                  </a>
                </div>
                <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul *ngFor="let item of data">
                      <li><a href="#">{{item.name}}</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="services__appoinment">
          <div class="services__title">
            <h4><img src="assets/img/icons/services-icon.png" alt=""> Get an appointment</h4>
          </div>
          <form action="#">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <div class="datepicker__item">
              <input type="text" placeholder="Date" class="datepicker">
              <i class="fa fa-calendar"></i>
            </div>
            <select>
              <option value="">Type of service</option>
              <option value="">Advanced equipment</option>
              <option value="">Qualified doctors</option>
              <option value="">Certified services</option>
              <option value="">Emergency care</option>
            </select>
            <button type="submit" class="site-btn">Book appoitment</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
