<app-header></app-header>

<section class="hero spad set-bg" data-setbg="assets/img/hero-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero__text">
          <span>DMB aesthetic skin clinic </span>
          <h2>Be young always,
            World best quality Treatment</h2>
          <a href="#" class="primary-btn normal-btn">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="consultation">
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <div class="consultation__form">
          <div class="section-title">
            <span>REQUEST FOR YOUR</span>
            <h2>Consultation</h2>
          </div>

          <form #heroForm="ngForm" (ngSubmit)="newAppoitment()">
            <input id="name" name="name" [(ngModel)]="model.name" required type="text" placeholder="Name">
            <input id="phone" name="phone" [(ngModel)]="model.phone" required type="text" placeholder="Phone">
            <input id="email" name="email" [(ngModel)]="model.email" required type="text" placeholder="Email">
            <input id="treatments" name="treatments" [(ngModel)]="model.treatments" required type="text"
              placeholder="Treatments">
            <input id="message" name="message" [(ngModel)]="model.message" required type="text" placeholder="Message">

            <button [disabled]="!heroForm.form.valid" type="submit" class="site-btn">Book appoitment</button>
          </form>

        </div>
      </div>
      <div class="col-lg-8">
        <div class="consultation__text">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="consultation__text__item">
                <div class="section-title">
                  <span>Welcome to DMB Aesthetic</span>
                  <h2><b>Dr.</b>Momina Majeed Bajwa </h2>
                </div>
                <p>Cosmetic treatments are no longer limited to go under knife i m Dr Momina Majeed Bajwa , one of the top beauty and skin expert (cosmetologist). the reason i have gained and maintained so many celebrity clients, is because i am able to achieve such amazing results, without ever picking up a scalpel.
                  where as its surgical or not, our gaol is for people to look in the mirror and feel good in their own skin.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="consultation__video set-bg" data-setbg="assets/img/consultation-video.jpg">
                <a href="https://www.youtube.com/watch?v=PXsuI67s2AA" class="play-btn video-popup"><i
                    class="fa fa-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="chooseus spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <span>Why choose us?</span>
          <h2>Offer for you</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="chooseus__item">
          <img src="assets/img/icons/ci-1.png" alt="">
          <h5>Advanced equipment</h5>
          <p>Best equipment and latest technology, FDA approved medical device and latest version of lasers. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="chooseus__item">
          <img src="assets/img/icons/ci-2.png" alt="">
          <h5>Qualified doctors</h5>
          <p>Qualified doctors for aesthetics, our Doctors trained in and  completed various different higher degrees in aesthetic medicine. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="chooseus__item">
          <img src="assets/img/icons/ci-3.png" alt="">
          <h5>Certified services</h5>
          <p>Our services vision, Is for SKIN repair and rejuvenation for Younger and healthier skin. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="chooseus__item">
          <img src="assets/img/icons/ci-4.png" alt="">
          <h5>Skin Care</h5>
          <p>Skin treatments can help prevent acne, treat wrinkles, and help keep your skin looking its <b>best</b>.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="services spad set-bg" data-setbg="assets/img/services-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-6">
        <div class="section-title">
          <span>Our services</span>
          <h2>Offer for you</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="services__btn">
          <a href="#" class="primary-btn">Contact us</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="services__item">
          <div class="services__item__icon">
            <span class="flaticon-044-aesthetic"></span>
          </div>
          <div class="services__item__text">
            <h5>Body procedures</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="services__item">
          <div class="services__item__icon">
            <span class="flaticon-027-beauty"></span>
          </div>
          <div class="services__item__text">
            <h5>Facial Procedures</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="services__item">
          <div class="services__item__icon">
            <span class="flaticon-031-anatomy"></span>
          </div>
          <div class="services__item__text">
            <h5>Breast procedures</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="services__item">
          <div class="services__item__icon">
            <span class="flaticon-008-abdominoplasty"></span>
          </div>
          <div class="services__item__text">
            <h5>Skin care & Beauty</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="team spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <span>Our Team</span>
          <h2>Our Expert Doctors</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="team__item">
          <img src="assets/img/team/team-1.jpg" alt="">
          <h5>Caroline Grant</h5>
          <span>Plastic surgeon</span>
          <div class="team__item__social">
            <a href="https://www.facebook.com/dmb.theaestheticskinclinic/"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/dmb.theaestheticskinclinic/"><i
                class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="team__item">
          <img src="assets/img/team/team-2.jpg" alt="">
          <h5>Dr. Maria Angel</h5>
          <span>Plastic surgeon</span>
          <div class="team__item__social">
            <a href="https://www.facebook.com/dmb.theaestheticskinclinic/"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/dmb.theaestheticskinclinic/"><i
                class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="team__item">
          <img src="assets/img/team/team-3.jpg" alt="">
          <h5>Nathan Mullins</h5>
          <span>Plastic surgeon</span>
          <div class="team__item__social">
            <a href="https://www.facebook.com/dmb.theaestheticskinclinic/"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/dmb.theaestheticskinclinic/"><i
                class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="gallery">
  <div class="gallery__container">
    <div class="grid-sizer"></div>
    <div class="gc__item set-bg" data-setbg="assets/img/gallery/gallery-1.jpg">
      <a href="assets/img/gallery/gallery-1.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="gc__item set-bg" data-setbg="assets/img/gallery/gallery-2.jpg">
      <a href="assets/img/gallery/gallery-2.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="gc__item set-bg" data-setbg="assets/img/gallery/gallery-3.jpg">
      <a href="assets/img/gallery/gallery-3.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="gc__item gc__item__large set-bg" data-setbg="assets/img/gallery/gallery-5.jpg">
      <a href="assets/img/gallery/gallery-3.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="gc__item set-bg" data-setbg="assets/img/gallery/gallery-5.jpg">
      <a href="assets/img/gallery/gallery-5.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="gc__item set-bg" data-setbg="assets/img/gallery/gallery-5.jpg">
      <a href="assets/img/gallery/gallery-6.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="gc__item set-bg" data-setbg="assets/img/gallery/gallery-7.jpg">
      <a href="assets/img/gallery/gallery-7.jpg" class="image-popup"><i class="fa fa-search-plus"></i></a>
    </div>
  </div>
</div>


<section class="latest spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-6">
        <div class="section-title">
          <span>Our News</span>
          <h2>Skin care tips</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="latest__btn">
          <a href="#" class="primary-btn">View all news</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="latest__item">
          <h5><a href="#">Here’s how you can get a natural glow this party season</a></h5>
          <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          <ul>
            <li><img src="assets/img/blog/xblog-author.jpg.pagespeed.ic.SsyI5LTNBW.jpg" alt=""> John Doe</li>
            <li>Dec 06, 2019</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="latest__item">
          <h5><a href="#">Get better skin with these top 10 tips for skin care</a></h5>
          <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          <ul>
            <li><img src="assets/img/blog/xblog-author.jpg.pagespeed.ic.SsyI5LTNBW.jpg" alt=""> John Doe</li>
            <li>Dec 06, 2019</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="latest__item">
          <h5><a href="#">8 Ways to Save Your Skin if You Exercise Outside This Winter</a></h5>
          <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          <ul>
            <li><img src="assets/img/blog/xblog-author.jpg.pagespeed.ic.SsyI5LTNBW.jpg" alt=""> John Doe</li>
            <li>Dec 06, 2019</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>
<p class="alert alert-info">{{IsApiConnected}}</p>
