
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
    <div class="offcanvas__logo">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="assets/img/xlogo.png.pagespeed.ic.vjTsmMxQhg.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__btn">
      <a href="#" class="primary-btn">Appointment</a>
    </div>
    <ul class="offcanvas__widget">
      <li><i class="fa fa-phone"></i> +92-304-00-51234, +92-334-00-51234</li>
      <li><i class="fa fa-map-marker"></i> #H 240 A-Block Revenue Society Lahore</li>
      <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 10:00pm</li>
    </ul>
    <div class="offcanvas__social">
      <a target="_blank" href="https://www.facebook.com/dmb.theaestheticskinclinic/"><i class="fa fa-facebook"></i></a>
      <a><i class="fa fa-twitter"></i></a>
      <a target="_blank" href="https://www.instagram.com/dmb.theaestheticskinclinic/"><i class="fa fa-instagram"></i></a>
      <a><i class="fa fa-dribbble"></i></a>
    </div>
  </div>


  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <ul class="header__top__left">
              <li><i class="fa fa-phone"></i> +92-304-00-51234, +92-334-00-51234</li>
              <li><i class="fa fa-map-marker"></i> #H 240 A-Block Revenue Society Lahore</li>
              <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 10:00pm</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <div class="header__top__right">
              <a target="_blank" href="https://www.facebook.com/dmb.theaestheticskinclinic/"><i class="fa fa-facebook"></i></a>
              <a ><i class="fa fa-twitter"></i></a>
             <a target="_blank" href="https://www.instagram.com/dmb.theaestheticskinclinic/"><i class="fa fa-instagram"></i></a>
              <a ><i class="fa fa-dribbble"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="header__logo">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="assets/img/xlogo.png.pagespeed.ic.vjTsmMxQhg.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="header__menu__option">
            <nav class="header__menu">
              <ul>
                <li class="active"><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
                <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a></li>
                <li><a [routerLink]="['/services']" routerLinkActive="router-link-active">Services</a></li>
                <li><a href="#">Pages</a>
                  <ul class="dropdown">
                    <li><a [routerLink]="['/pricing']" routerLinkActive="router-link-active">Pricing</a></li>
                    <li><a [routerLink]="['/doctor']" routerLinkActive="router-link-active">Doctor</a></li>
                    <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active">Blog Details</a></li>
                  </ul>
                </li>
                <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active">News</a></li>
                <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
              </ul>
            </nav>
            <div class="header__btn">
              <a href="#" class="primary-btn">Appointment</a>
            </div>
          </div>
        </div>
      </div>
      <div class="canvas__open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
